<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head'); -%>

    <body>
        <%- include('layouts/navigation'); -%>
            <!-- Page Header-->
            <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="site-heading">
                                <h1>Appointment</h1>
                                <span class="subheading">DriveTest Booking Kiosk</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main Content-->
            <% if(typeof user !='undefined' ) { %>
                <div class="container px-4 px-lg-5 mb-5">
                    <% if(typeof message !='undefined' ) { %>
                        <p class="text-success">
                            <%= message %>
                        </p>
                        <% } %>
                            <div class="row gx-4 gx-lg-5 justify-content-center">
                                <div class="col-md-10 col-lg-8 col-xl-7">
                                    <form action="/appointment" method="post" id="fetchForm">
                                        <div class="card mb-3">
                                            <div class="card-header">
                                                <h5 class="card-title">Slot Details</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="row mb-3">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label for="date">Date</label>
                                                            <input type="date" class="form-control" id="date"
                                                                placeholder="Enter Date" name="date" value="<%= date %>" >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-sm">Fetch Slots</button>

                                        </div>
                                    </form>
                                    <form action="/appointmentSave" method="post" id="saveForm">
                                        <div class="card mb-3">
                                            <div class="card-header">
                                                <h5 class="card-title">Slot Details</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="row mb-3">
                                                    <input type="date" class="form-control" id="date"
                                                    placeholder="Enter Date" name="date" value="<%= date %>" hidden>
                                                    <%for ( var i=0; i < slots.length;
                                                    i++ ){%>
                                                    <div class="col-2">
                                                        <div class="form-group">
                                                            <input type="checkbox" id="<%= slots[i].id %>" name="<%= slots[i].id %>">
                                                            <label for="<%= slots[i].id %>"><%= slots[i].label %></label>
                                                        </div>
                                                    </div>
                                                    <%}%>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-sm">Save</button>
                                    </form>
                                </div>
                            </div>
                </div>
                <% } %>

                    </div>
                    <%- include('layouts/footer'); -%>
    </body>

    <script>
        setTimeout(() => {
            document.getElementById('date').min = new Date().toISOString().split("T")[0];            
        }, 2000);
    </script>
</html>